app:
  host: "api-monsuivipsy.fabrique.social.gouv.fr"
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 200m
      memory: 768Mi

pg:
  backup:
    name: "202404161204" # backup on a new folder
  cnpg-cluster:
    resources:
      requests:
        cpu: "1"
        memory: 2Gi
      limits:
        cpu: 1500m
        memory: 2Gi
    recovery:
      enabled: true
      ~tpl~database: "{{ .Values.global.pgDatabase }}"
      ~tpl~owner: "{{ .Values.global.pgUser }}"
      secretName: "pg-db"
      barmanObjectStore:
        ~tpl~destinationPath: "s3://monsuivipsy-prod-backups/jardinmental-202404101316"
        s3Credentials:
          accessKeyId:
            ~tpl~name: "monsuivipsy-prod-backups-access-key"
            key: bucket_access_key
          secretAccessKey:
            ~tpl~name: "monsuivipsy-prod-backups-access-key"
            key: bucket_secret_key
          region:
            ~tpl~name: "monsuivipsy-prod-backups-access-key"
            key: bucket_region
