projectName: monsuivipsy
ciNamespace: ci-monsuivipsy

dependencies:
  fabrique:
    extends:
      - name: ovh
        ifEnv: [dev, preprod]
      - name: buildkit-service
        ifEnv: [dev, preprod]
