name: Preproduction

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*

concurrency:
  cancel-in-progress: true
  group: preproduction

jobs:
  ##############################################################################
  ## BUILD AND REGISTER DOCKER IMAGES
  ##############################################################################
  register:
    name: Build & Register
    runs-on: ubuntu-latest
    steps:
      - name: Application
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          imageName: monsuivipsy/app
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: preprod
          dockercontext: ./api
          dockerfile: ./api/Dockerfile

  ##############################################################################
  ## DEPLOY APPLICATION OVER KUBERNETES
  ##############################################################################
  deploy:
    name: Deploy application
    runs-on: ubuntu-latest
    needs: [register]
    environment:
      name: preproduction
      url: https:/api-monsuivipsy.dev.fabrique.social.gouv.fr
    steps:
      - uses: SocialGouv/kube-workflow@master
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
          rancherProjectId: ${{ secrets.RANCHER_PROJECT_ID }}
          rancherProjectName: ${{ secrets.RANCHER_PROJECT_NAME }}
